.timer {
  width: 40%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(15px);
  border: 1px solid;
  border-radius: 20px;
}

.left_hour {
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
  border: 1px solid;
  color: white;
  text-align: center;
  margin: 10px;
}

.left_minutes {
  padding: 10px;
  font-size: 40px;
  border-radius: 10px;
  border: 1px solid;
  color: white;
  text-align: center;
  margin: 10px;
}

.right_sec {
  padding: 10px;
  font-size: 60px;
  border-radius: 10px;
  border: 1px solid;
  color: white;
  text-align: center;
  margin: 10px;
}

.right_amPm {
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
  border: 1px solid;
  color: white;
  text-align: center;
  margin: 10px;
}
